:root {    
    /* COLOR */
    --HF2_orange: rgb(251, 126, 20);
    --HF2_black: rgb(0, 0, 0);
    --HF2_gray_dark: rgb(21, 21, 21);
    --HF2_gray: rgb(41, 41, 41);
    --HF2_white: rgb(255, 255, 255);

    --orange_light: rgb(255, 180, 110);
<<<<<<< HEAD
    --gray_darker: rgb(15, 15, 15);
=======
>>>>>>> a99e1122646bb53c4f86ee423ec21ae9a453acf5
    --gray_light: rgb(90, 90, 90);


    --header_background_color: var(--HF2_black);
    --main_background_color: var(--HF2_gray_dark);

    --header_color: var(--HF2_orange);
    --main_color: var(--gray_light);


    /* FONT */
    --font_size_base: 15px;

    --h1_font_size: calc(1rem * 3);
    --h2_font_size: calc(1rem * 2);
    --h3_font_size: calc(1rem * 1.5);
}